/*#canvas{
	margin-left: auto;
	margin-right: auto;
	overflow: none;
	border: 3px solid black;
	border-radius: 20px;
	background-color: #644321;
}*/


p, body, h1, h2 {
	margin: 0;
	padding: 0;
}
body {
	background: url("https://s3-us-west-1.amazonaws.com/owlhowler/howler/retina_wood.png");
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.slick-track {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.slick-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Pacifico';
	padding: 0.5em;
}

.slick-item img {
	max-width: 85%;
	padding: 10px;
	border-radius: 20px;
}

.slick-item h1 {
	align-self: center;
	font-size: 32px;
	font-family: 'Pacifico';
	padding: 10px;
}

.slick-item h2 {
	align-self: center;
	font-size: 30px;
	font-family: 'Pacifico';
	padding: 10px;
}

.slick-item p {
	align-self: flex-start;
	padding: 5px;
	font-size: 18px;
	font-family: 'Arimo';
}

.previous-slide{
	margin: 20px;
	padding: 10px;
	border: 1px solid black;
}

.next-slide{
	margin: 20px;
	padding: 10px;
	border: 1px solid black;
}

button {
	font-family: 'Pacifico';
	font-size: 20px;
	font-weight: 300;
	color: white;
	background: rgba(0, 0, 0, 0.7);
	width: 100px;

}